/* Write your CSS here */

.destination-item {
  width: 200px;
  margin: 15px;
}

.destination-image {
  width: 180px;
}

.destination-name {
  color: #252627;
  font-family: 'Roboto';
  font-size: 15px;
}
